<?xml version="1.0"?>
<config>
    <modules>
        <Agile_Aglsample>
            <version>0.1.0</version>
        </Agile_Aglsample>
    </modules>
    <frontend>
        <routers>
            <aglsample>
                <use>standard</use>
                <args>
                    <module>Agile_Aglsample</module>
                    <frontName>aglsample</frontName>
                </args>
            </aglsample>
        </routers>
        <layout>
            <updates>
                <aglsample>
                    <file>aglsample.xml</file>
                </aglsample>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <aglsample>
                <use>admin</use>
                <args>
                    <module>Agile_Aglsample</module>
                    <frontName>aglsample</frontName>
                </args>
            </aglsample>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <aglsample module="aglsample">
                <title>Agile Sample</title>
                <sort_order>71</sort_order>              
                <children>
                    <items module="aglsample">
                        <title>Manage Items</title>
                        <sort_order>0</sort_order>
                        <action>aglsample/adminhtml_aglsample</action>
                    </items>
                </children>
            </aglsample>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <aglsample>
                            <title>Agile Module</title>
                            <sort_order>200</sort_order>
                        </aglsample>
                    </children>
                </admin>
            </resources>  
        </acl>
        <layout>
            <updates>
                <aglsample>
                    <file>aglsample.xml</file>
                </aglsample>
            </updates>
        </layout>
    </adminhtml>  
    <global>
        <models>
            <aglsample>
                <class>Agile_Aglsample_Model</class>
                <resourceModel>aglsample_mysql4</resourceModel>
            </aglsample>
            <aglsample_mysql4>
                <class>Agile_Aglsample_Model_Mysql4</class>
                <entities>
                    <aglsample>
                        <table>aglsample</table>
                    </aglsample>
                </entities>
            </aglsample_mysql4>
        </models>
        <resources>
            <aglsample_setup>
                <setup>
                    <module>Agile_Aglsample</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </aglsample_setup>
        </resources>
        <blocks>
            <aglsample>
                <class>Agile_Aglsample_Block</class>
            </aglsample>
        </blocks>
        <helpers>
            <aglsample>
                <class>Agile_Aglsample_Helper</class>
            </aglsample>
        </helpers>
    </global>
</config> 